<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de bodegas</title>
    <link rel="stylesheet" href="./gestion-bodega.component.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

    <section class="inventario">
        <div class="section-sup">
            <div class="number-products">
                <label for="num">Mostrar </label>
                <select name="" id="num" [(ngModel)]="selectedLimit">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
                <p> productos</p>
            </div>

            <div class="paginacion">
                <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1"><i class='bx bx-chevron-left'></i></button>
                    <span>Página {{ currentPage }} de {{ totalPages }}</span>
                <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages"><i class='bx bx-chevron-right'></i></button>
            </div>

            <div class="container-buttons">
                <button id="eliminar" popovertarget="popup-eliminar"><i class='bx bx-minus'></i></button>
                <button id="modificar" popovertarget="popup-modificar"><i class='bx bxs-edit'></i></button>
                <button id="agregar" popovertarget="popup-agregar"><i class='bx bx-plus'></i></button>
            </div>
    
            <div class="container-search">
                <input type="text" name="buscar" placeholder="Buscar..." [(ngModel)]="filterPost">
            </div>
        </div>

        <div class="container-tabla">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th id="warehouse_Name">Nombre</th>
                        <th id="direccion">Dirección</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let post of posts | filter:filterPost | paginate:currentPage:selectedLimit | limit:selectedLimit">
                        <td>{{post.id}}</td>
                        <td>{{post.warehouse_Name}}</td>
                        <td>{{post.direccion}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div class="pop-ups-fondo" popover id="popup-eliminar">
        <div class="container-pop-up" id="pop-up-eliminar">
            <div class="bar-sup">
                <h2>Eliminar un producto</h2>
                <button popovertarget="popup-eliminar" popovertargetaction="hide"><i class='bx bx-x'></i></button>
            </div>
            <div class="form-eliminar">
                <label for="ID-eliminar">ID del producto</label>
                <input type="text" id="ID-eliminar">
                <button id="btn-eliminar">Eliminar</button>
            </div>
        </div>

    </div>
    <div class="pop-ups-fondo"popover id="popup-modificar">
        <div class="container-pop-up" id="pop-up-mod">
            <div class="bar-sup">
                <h2>Modificar un producto</h2>
                <button popovertarget="popup-modificar" popovertargetaction="hide"><i class='bx bx-x'></i></button>
            </div>
            <div class="forms">
                <form action="" id="form-mod">
                    <label for="" id="label-id-mod">ID del producto</label>
                    <input type="text" id="id-modificar">
                    <label for="" class="titulos-form">Nombre del producto</label>
                    <input type="text" id="nombre-mod">
                    <label for="" class="titulos-form">Descripción del producto</label>
                    <textarea name="" id="descripcion-mod"></textarea>
                    <label for="" class="titulos-form">Lote del producto</label>
                    <input type="text" id="lote-mod">
                    <label for="" class="titulos-form">Tipo de producto</label>
                    <input type="text" id="tipo-mod">
                    <label for="" class="titulos-form">Unidad de medida</label>
                    <select name="" id="unidad-mod">
                        <option value="mg">mg (miligramos)</option>
                        <option value="g">g (gramos)</option>
                        <option value="mL">mL (mililitros)</option>
                        <option value="UI">UI (Unid. intern.)</option>
                        <option value="mcg">mcg (microgramos)</option>
                    </select>
                    <label for="" class="titulos-form">Stock del producto</label>
                    <input type="text" id="stock-mod">
                    <button id="btn-mod">Modificar</button>
                </form>
                <div class="imagen-producto-mod">
                    <div class="fondo-imagen">
                        <img src="/src/app/images/imagen_defecto.png" alt="">
                    </div>         
                    <input type="file">
                </div>
            </div>
        </div>
    </div>

    <div class="pop-ups-fondo"popover id="popup-agregar">
        <div class="container-pop-up">
            <div class="bar-sup">
                <h2>Agregar un producto</h2>
                <button popovertarget="popup-agregar" popovertargetaction="hide"><i class='bx bx-x'></i></button>
            </div>
            <div class="forms">
                <form action="" id="form-agregar">
                    <label for="" class="titulos-form" id="label-nombre-agregar">Nombre del producto</label>
                    <input type="text" id="nombre-agregar">
                    <label for="" class="titulos-form">Descripción del producto</label>
                    <textarea name="" id="descripcion-agregar"></textarea>
                    <label for="" class="titulos-form">Lote del producto</label>
                    <input type="text" id="lote-agregar">
                    <label for="" class="titulos-form">Tipo de producto</label>
                    <input type="text" id="tipo-agregar">
                    <label for="" class="titulos-form">Unidad de medida</label>
                    <select name="" id="unidad-agregar">
                        <option value="mg">mg (miligramos)</option>
                        <option value="g">g (gramos)</option>
                        <option value="mL">mL (mililitros)</option>
                        <option value="UI">UI (Unid. intern.)</option>
                        <option value="mcg">mcg (microgramos)</option>
                    </select>
                    <label for="" class="titulos-form">Stock del producto</label>
                    <input type="text" id="stock-agregar">
                    <button id="btn-agregar">Agregar</button>
                </form>
                <div class="imagen-producto-agregar">
                    <div class="fondo-imagen">
                        <img src="/src/app/images/imagen_defecto.png" alt="">
                    </div>         
                    <input type="file">
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>