<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de inventario</title>
    <link rel="stylesheet" href="./gestion-inventario.component.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

    <section class="inventario">
        <div class="section-sup">
            <div class="number-products">
                <label for="num">Mostrar </label>
                <select name="" id="num">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <p> productos</p>
            </div>

            <div class="container-buttons">
                <button id="eliminar" popovertarget="popup-eliminar"><i class='bx bx-minus'></i></button>
                <button id="modificar" popovertarget="popup-modificar"><i class='bx bxs-edit'></i></button>
                <button id="agregar" popovertarget="popup-agregar"><i class='bx bx-plus'></i></button>
            </div>
    
            <div class="container-search">
                <input type="text" placeholder="Buscar...">
                <button><i class='bx bx-search-alt-2'></i></button>
            </div>
        </div>

        <div class="container-tabla">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th id="name">Nombre</th>
                        <th id="description">Descripción</th>
                        <th>Tipo de medicamento</th>
                        <th>Unidad de medida</th>
                        <th>Stock actual</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div class="pop-ups-fondo" popover id="popup-eliminar">
        <div class="container-pop-up">
            <div class="bar-sup">
                <h2>Eliminar un producto</h2>
                <button popovertarget="popup-eliminar" popovertargetaction="hide"><i class='bx bx-x'></i></button>
            </div>
            <div class="form-eliminar">

            </div>
        </div>

    </div>
    <div class="pop-ups-fondo"popover id="popup-modificar">
        <div class="container-pop-up">
            <div class="bar-sup">
                <h2>Modificar un producto</h2>
                <button popovertarget="popup-modificar" popovertargetaction="hide"><i class='bx bx-x'></i></button>
            </div>
            <div class="form-modificar">

            </div>
        </div>
    </div>
    <div class="pop-ups-fondo"popover id="popup-agregar">
        <div class="container-pop-up">
            <div class="bar-sup">
                <h2>Agregar un producto</h2>
                <button popovertarget="popup-agregar" popovertargetaction="hide"><i class='bx bx-x'></i></button>
            </div>
            <div class="form-agregar">

            </div>
        </div>
        
    </div>
</body>
</html>