<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="./login.component.css">
</head>
<body>
    <div class="cont-form">
        <div class="cont-titulo">
            <h2>Inicio de sesión</h2>
        </div>
        <form action="">
            <label for="correo-usuario" id="primer-label">Correo electronico</label>
            <input type="email" id="correo-usuario" placeholder="Introduce tu correo">
            <label for="contraseña-usuario">Contraseña</label>
            <input type="password" id="contraseña-usuario" placeholder="Contraseña" required>
            <div class="cont-btn">
                <button>Acceder</button>
            </div>
            <div class="olvido">
                <a href="">¿Has olvidado tu contraseña?</a>
            </div>
            <div class="registrarse">
                ¿Aun no estas registrado? &nbsp; <a href="">Crear una cuenta</a>
            </div>
        </form>
    </div>
</body>
</html>