<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia</title>
    <link rel="stylesheet" href="./app.component.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <header class="header">
      <div id="logo">
        <img src="./images/icono.PNG" alt="logo" id="logo">
      </div>
    
      <nav>
        <ul class="nav-links">
          <li><a href=""><i class='bx bx-cart'></i></a></li>
          <li><a href=""><i class='bx bxs-user-circle'></i></a></li>
          <li><i class='bx bx-menu'></i></li>
        </ul>
      </nav> 
    </header>
    <div class="divisor"></div>

    <section>
        
    </section>
  </body>
</html>

<router-outlet />
