<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia</title>
    <link rel="stylesheet" href="./app.component.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <header class="header">
      <div id="logo">
        <img src="./images/icono.PNG" alt="logo" id="logo">
      </div>
    
      <nav>
        <ul class="nav-links">
          <li><a href=""><i class='bx bx-cart'></i></a></li>
          <li><a href=""><i class='bx bxs-user-circle'></i></a></li>
          <li><i class='bx bx-menu'></i></li>
        </ul>
      </nav> 
    </header>
    <div class="divisor"></div>

    <section>
        
    </section>
    <footer>
      <div class="logo-footer">
        <img src="./images/icono.PNG" alt="">
        <h3>Farmacia Caliz</h3>

        <div class="footer-redes-sociales">
          <a href="" class="redes-sociales"><i class='bx bxl-facebook-circle'></i></a>
          <a href="" class="redes-sociales"><i class='bx bxl-instagram'></i></a>
          <a href="" class="redes-sociales"><i class='bx bxl-linkedin'></i></a>
        </div>

      </div>

      <div class="informacion">
        <h3>Informacion para los clientes</h3>
        <p>Numero de atencion al cliente: +56 9 xxxx xxxx</p>
        <p>Horario de atención al cliente: xx:xx de lunes a sabado</p>
        <p>Direccion de las sucursales: xxxxxxxxxxxxxxxxxxxxxx</p>
      </div>

      <div class="preguntas-frecuentes">
        <h4>Preguntas frecuentes</h4>
        <a href="" class="secciones-preguntas">Beneficios</a>
        <a href="" class="secciones-preguntas">Compras</a>
        <a href="" class="secciones-preguntas">Usuarios</a>
      </div>

    </footer>
    <div class="end-page">Todos los derechos reservados &#169</div>
  </body>
</html>

<router-outlet />
